
.team-section {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 3rem 0;
  background-color: #fff;
  padding-top: 6rem;
}

.team-container {
  width: 95%;
  max-width: 1200px;
  margin: 0 auto;
}

.team-section h2 {
  font-size: 2.5rem;
  margin-bottom: 2rem;
  color: var(--text-color);
  text-align: center;
  margin-top: 1rem;
  position: relative;
  z-index: 1;
}

.team-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  justify-items: center;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .team-section h2 {
    font-size: 3rem;
  }

  .team-grid {
    grid-template-columns: repeat(2, 1fr);
  }


  .team-section {
    padding-top: 7rem;
  }
}

@media (min-width: 992px) {
  .team-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

.team-member {
  background: white;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: var(--transition);
  width: 100%;
  max-width: 350px;
}

.team-member:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}

.member-image-container {
  width: 100%;
  height: auto;
  overflow: hidden;
}

.member-image {
  width: 100%;
  height: auto;
  display: block;
}

.member-info {
  position: relative;
  padding: 1.25rem;
}

.member-info h3 {
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
  color: var(--text-color);
}

.role {
  color: var(--text-color);
  font-size: 0.9rem;
  margin-bottom: 0.5rem;
}

.linkedin-link {
  position: absolute;
  top: 1.25rem;
  right: 1.25rem;
  display: block;
}

.linkedin-icon {
  width: 28px;
  height: 28px;
  transition: opacity 0.3s ease;
}

.linkedin-icon:hover {
  opacity: 0.8;
}